@import url(https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap);

*{
    padding: 0;
    margin: 0;
}

:root {
    --body-font: "Wix Madefor Display", sans-serif;
    --color-indigo: #5680E9;
    --color-skyblue: #84CEEB;
    --color-blue: #5AB9EA;
    --color-grey: #C1C8E4;
    --color-purple: #8860D0;
}

body {
    font-family: var(--body-font);
}

/* ======================================================= */
/* HEADER */
/* ======================================================= */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 1rem;
}

.nav__list {
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
}

/* ======================================================= */
/* HOME */
/* ======================================================= */
.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider-frame {
    position: absolute;
    width: 320px;
    height: 210px;
    top: 10%;
    left: calc(50% - 160px);
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateX(-20deg);
    animation: autoSlide 20s linear infinite;
}

@keyframes autoSlide {
    from {
        transform: perspective(1000px) rotateX(-20deg) rotateY(0 deg)
    }
    to {
        transform: perspective(1000px) rotateX(-20deg) rotateY(360deg)
    }
}

.banner .slider-frame .slider-pic {
    position: absolute;
    inset: 0 0 0 0;
    transform:
        rotateY(calc( var(--position) * (360  / var(--quantity)) * 1deg)) 
        translateZ(500px);
}

.banner .slider-frame .slider-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-box {
    --box-width: 30rem;
    --box-height: 20rem;

    display: flex;
    flex-wrap: wrap;
    width: var(--box-width);
    height: var(--box-height);
    box-sizing: border-box;
    border: 1px solid var(--color-indigo);
}