@import url(https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
}

:root {
    --body-font: "Wix Madefor Display", sans-serif;
    --color-indigo: #5680E9;
    --color-skyblue: #84CEEB;
    --color-blue: #5AB9EA;
    --color-grey: #C1C8E4;
    --color-purple: #8860D0;
}

body {
    font-family: var(--body-font);
}

/* ======================================================= */
/* HEADER */
/* ======================================================= */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 1rem;
}

.nav__list {
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
}

/* ======================================================= */
/* HOME */
/* ======================================================= */
.banner {
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
}


.img-box {
    --box-width: 30rem;
    --box-height: 20rem;
    --frag-width: calc(var(--box-width) / var(--col));
    --frag-height: calc(var(--box-height) / var(--row));
    /* --img-url: url('./img/panorama/panorama1.jpg'); */

    display: flex;
    flex-wrap: wrap;
    width: calc(var(--box-width));
    height: var(--box-height);
    box-sizing: border-box;
    /* border: 1px solid var(--color-indigo); */
}

.fragment {
    --x-offset: calc(var(--x) * var(--frag-width) * -1);
    --y-offset: calc(var(--y) * var(--frag-height) * -1);
    --rotateX: rotateX(0);
    --rotateY: rotateY(0);

    width: var(--frag-width);
    height: var(--frag-height);
    /* sborder: 1px solid var(--color-indigo); */
    box-sizing: border-box;
    background-image: var(--img-url);
    background-position: var(--x-offset) var(--y-offset);
    background-size: var(--box-width) var(--box-height);
    background-repeat: no-repeat;
    /* will-change: none; */
    backface-visibility: hidden;
    transform: var(--rotateX) var(--rotateY);
    animation: flip var(--duration) ease-in-out var(--delay) forwards;
}

@keyframes flip {
    0% {
        transform: var(--rotateX) var(--rotateY) scale(0.8); 
        opacity: 0;
    }
    50% {
        transform: rotateX(0) rotateY(0) scale(0.8); 
        opacity: 1;
    }
    80% {
        transform: rotateX(0) rotateY(0) scale(1);
    }
    100% {
        transform: unset; 
        scale: none;
        backface-visibility: initial;
        opacity: initial;
    }
}

.intro svg {
    display: inline;
}

footer {
    position: relative ;
    padding: 16px 0px ;
    width: 100% ;
    border:none ;
    bottom:0 ;
    margin-top: auto ;
    /*linear color for footer background*/
    background:linear-gradient(-45deg, #E73C7E, #23A605, #258EB8, #333EBD);
    background-size: 400% 400% ;
      animation: gradientBG 10s ease infinite;
    -webkit-animation: gradientBG 10s ease infinite;
 }
 /*footer animation*/
 @keyframes gradientBG{
   0% {
           background-position: 0% 50%;
       }
       50% {
           background-position: 100% 50%;
       }
       100% {
           background-position: 0% 50%;
       }
 }
 /*styling for address in footer*/
 footer .address {
    font-style: normal;
    font-family: 'Lucida Console';
    color: white;
    font-size: 0.7em;
    text-align: center;
 }

/* ======================================================= */
/* EXPERIENCE */
/* ======================================================= */
.text-wave {
    color: #fff;
	font-size: 3.5em;
	position: absolute;
}

.text-wave:nth-child(1) {
	color: var(--color-purple);
	-webkit-text-stroke: 1px var(--color-purple);
}

.text-wave:nth-child(2) {
	color: var(--color-skyblue);
	animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

/* ======================================================= */
/* CONTACT US */
/* ======================================================= */

.contactus input[type='text'], input[type='email']{
    border: 1px solid var(--color-grey);
    border-radius: 0.3em;
    padding: 0.3em;
    margin: 0.2em;
    width: 50%;
}

.contactus input[type='radio']{
    margin-right: 0.8em;
}

.contactus input[type='range']{
    width: 85%;
    margin: 0.2em;
}

.contactus input[type='datetime-local']{
    display: inline;
    border: 1px solid var(--color-grey);
    border-radius: 0.3em;
    padding: 0.3em;
}

.contactus select {
    border: 1px solid var(--color-grey);
    border-radius: 0.3em;
    padding: 0.3em;
}

.contactus textarea {
    width: 100%;
    padding: 0.3em;
}

.contactus table tr td {
    vertical-align: top;
    padding-bottom: 0.5em;
}

.gradient-color {
    background: linear-gradient(-45deg, var(--color-skyblue), var(--color-purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-btn {
    background: var(--color-indigo);
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    margin: 0.7em 1em 0 0;
}

/* ======================================================= */
/* ACCOMODATION */
/* ======================================================= */

.slider {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-arrow {
    position: absolute;
    top: 15%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 15%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  .slide {
    position: absolute;
    opacity: 0;
    transition-duration: 1s ease;
    top: 0;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  .slide-wrapper {
    position: absolute;
    width: 100vw;
    left: calc(50% - 12em);
    top: 20%;
  }

/* ======================================================= */
/* TRANSPORTATION */
/* ======================================================= */

.transport table, .transport th, .transport td {
    border: 1px solid;
}

.transport table th, 
.transport table td {
    padding: 0.1em 0.5em;
}

.transport table th {
    background-color: var(--color-indigo);
    color: #fff;
}